th {
    width: 100px;
    word-wrap: break-word;
}

td {
    width: 100px;
    height: 20px;
    vertical-align: middle;

    border: 1px solid #999;
    border-left: none;
    border-right: none;
}

/* stripe */
tbody tr:nth-child(even) {
    background-color: #e5e5e5;
}

/* HEX addr */
thead th:nth-child(1) {
    max-width: 15px;
}
tbody td:nth-child(1) {
    width: auto;
    text-align: right;
}

/* DEC addr */
thead th:nth-child(2) {
    max-width: 15px;
}
tbody td:nth-child(2) {
    width: auto;
    text-align: right;
}

/* Type-E */
thead th:nth-child(3) {
    max-width: 5px;
}
tbody td:nth-child(3) {
    text-align: center;
    border-right: 1px dotted #999;
}

/* Unit */
thead th:nth-child(4) {
    max-width: 50px;
}

/* Instruction */
thead th:nth-child(5) {
    max-width: 100px;
}
tbody td:nth-child(5) {
    font-weight: bold;
}

/* Immediate */
thead th:nth-child(6) {
    max-width: 50px;
}

/* Mnemonic */
thead th:nth-child(7) {
    max-width: 50px;
}
tbody td:nth-child(7) {
    font-size: 10pt;
    font-weight: bold;
}

/* Opcode */
thead th:nth-child(8) {
    max-width: 50px;
}
tbody td:nth-child(8) {
    text-align: right;
    font-family: monospace;
}

/* FMT1 */
thead th:nth-child(9) {
    max-width: 5px;
}
tbody td:nth-child(9) {
    text-align: center;
}
/* FMT2 */
thead th:nth-child(10) {
    max-width: 5px;
}
tbody td:nth-child(10) {
    text-align: center;
}

tbody td:nth-child(11) {
    border-left: 1px dotted #999;
    padding-left: 5px;
}

thead th:nth-child(12) {
    max-width: 10px;
}
thead th:nth-child(13) {
    max-width: 5px;
}
thead th:nth-child(14) {
    max-width: 5px;
}
thead th:nth-child(15) {
    max-width: 5px;
}
thead th:nth-child(16) {
    max-width: 5px;
}
thead th:nth-child(17) {
    max-width: 5px;
}
thead th:nth-child(18) {
    max-width: 10px;
}
